<header>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">Fantasy League </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/players">Home</a></li>
      <li class="dropdown"><a href="/insertform"> Insert Player </a>
     <!--    <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul> -->
      </li>
      <li><a href="/listcategory">Category</a></li>
      <li><a href="/listteam">Teams</a></li>
      <li><a href="/listcountries">Countries</a></li>
      <li><a href="/listleagues">Leagues</a></li>
      <li><a href="/listadmin">Admins</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

</header>