<div class="d-flex mt-5 justify-content-between">
  <div style="width: 100px; height: 700px;" class="p-2 col-2 mh-100 flex-fill">
  </div>
  <div class="p-2 col-8 flex-fill">
    <div class="container">
      <div class="card">
        <div class="container-fliud">
          <div class="wrapper row">
            <div class="container">
              <div class="row my-2">
                <div class="col-lg-12 order-lg-2">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a href="" data-target="#profile" data-toggle="tab" class="nav-link bg-custom-color text-light">Profile</a>
                    </li>
                  </ul>
                  <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                      <h5 class="mb-3">User Profile</h5>
                      <div class="row">
                        <div class="col-md-6">
                          <div>
                            <h6 class="">User Name:</h6>
                            <h6 class="">
                              <u class="">
                                <strong>
                                  {{username}}
                                </strong>
                              </u>
                            </h6>
                          </div>
                          <div>
                            <h6 class="">Email:</h6>
                            <h6 class="">
                              <u>
                                <strong>
                                  {{email}}
                                </strong>
                              </u>
                            </h6>
                          </div>
                          <p>
                            Web Designer, UI/UX Engineer
                          </p>
                          <h6>Hobbies</h6>
                          <p>
                            Indie music, skiing and hiking. I love the great outdoors.
                          </p>
                        </div>
                        <div class="col-md-6">
                          <h6>Recent badges</h6>
                          <a href="#" class="badge badge-dark badge-pill">html5</a>
                          <a href="#" class="badge badge-dark badge-pill">react</a>
                          <a href="#" class="badge badge-dark badge-pill">codeply</a>
                          <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                          <a href="#" class="badge badge-dark badge-pill">css3</a>
                          <a href="#" class="badge badge-dark badge-pill">jquery</a>
                          <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                          <a href="#" class="badge badge-dark badge-pill">responsive-design</a>
                          <hr>
                          <span class="badge badge-primary">
                            <i class="fa fa-user"></i> 900 Followers</span>
                          <span class="badge badge-success">
                            <i class="fa fa-cog"></i> 43 Forks</span>
                          <span class="badge badge-danger">
                            <i class="fa fa-eye"></i> 245 Views</span>
                        </div>
                        <div class="col-md-12">
                          <h5 class="mt-2">
                            <span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                          <table class="table table-sm table-hover table-striped">
                            <tbody>
                              <tr>
                                <td>
                                  <strong>Abby</strong> joined ACME Project Team in
                                  <strong>`Collaboration`</strong>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <strong>Gary</strong> deleted My Board1 in
                                  <strong>`Discussions`</strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="p-2 col-2 flex-fill">
  </div>
</div>