<div class="d-flex mt-5 justify-content-between">
  <div style="width: 100px; height: 700px;" class="p-2 col-2 mh-100 bg-secondary flex-fill">

  </div>
  <div class="p-2 col-8 flex-fill">

    <div class="container m-3">
      <div class="container">
        <div class="col-md-12" *ngFor="let question of questions">
          <h1>
            <u>{{question.title}}</u>
          </h1>
          <h3 class="text-muted">{{question.question}}</h3>
          <h4>
            <u class="text-primary">Answers:</u>
          </h4>
          <div>
            <ul>
              <li class="" *ngFor="let ans of question.answers">
                {{ans.ans}}
                <span class="pull-right">{{ans.email}}</span>
              </li>
            </ul>
          </div>
          <form [formGroup]="ansForm">
            <!-- <div class="form-group">
                <label for="exampleInputUsername">Question Title</label>
                <input formControlName="title" type="text" class="form-control" id="exampleInputUsername" aria-describedby="userHelp" placeholder="Title">
                <small id="userHelp" class="form-text text-muted"></small>
              </div> -->

            <div class="form-group">
              <label for="passwordInput">Your Answer</label>
              <textarea formControlName="ans" type="text" class="form-control" id="ans" aria-describedby="passHelp" placeholder="">
                 </textarea>
            </div>
            <div class="form-group" style="text-align:center;">
              <button type="button" class="btn btn-dark" (click)="ansQuestion(question.questionsID)">Submit</button>
            </div>
          </form>
          <br/>
          <!-- </div> -->


          <p class="bg-success text-light pl-2">Autrhor: {{question.name}}</p>
          <!-- <p> </p> -->
          <div>
            <span class="badge">Posted {{question.dated}}</span>
            <div class="pull-right">
              <span class="badge badge-primary">Primary</span>
              <span class="badge badge-secondary">Secondary</span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-danger">Danger</span>
              <span class="badge badge-warning">Warning</span>
              <span class="badge badge-info">Info</span>
              <span class="badge badge-light">Light</span>
              <span class="badge badge-dark">Dark</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

  </div>
  <div class="p-2 col-2 bg-secondary flex-fill">
  </div>
</div>