<div class="d-flex mt-5 justify-content-between">
  <div style="width: 100px; height: 700px;" class="p-2 col-2 mh-100 bg-secondary flex-fill">

  </div>
  <div class="p-2 col-8 flex-fill">

    <div class="container m-3">
      <div class="container">
        <div class="col-md-12" *ngFor="let question of questions">


          <h1>{{question.question}}</h1>
          <p class="bg-dark text-light">Answers: </p>
          <p>{{question.answers}} </p>




          <div>
            <span class="badge">Posted 2012-08-02 20:47:04</span>
            <div class="pull-right">
              <span class="badge badge-primary">Primary</span>
              <span class="badge badge-secondary">Secondary</span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-danger">Danger</span>
              <span class="badge badge-warning">Warning</span>
              <span class="badge badge-info">Info</span>
              <span class="badge badge-light">Light</span>
              <span class="badge badge-dark">Dark</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

  </div>
  <div class="p-2 col-2 bg-secondary flex-fill">
  </div>
</div>