.row.content {
  height: 450px;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}

.menu .accordion-heading {
  position: relative;
}
.menu .accordion-heading .edit {
  position: absolute;
  top: 8px;
  right: 30px;
}
.menu .area {
  border-left: 4px solid #f38787;
}
.menu .equipamento {
  border-left: 4px solid #65c465;
}
.menu .ponto {
  border-left: 4px solid #98b3fa;
}
.menu .collapse.in {
  overflow: visible;
}
