<div class="d-flex mt-5 justify-content-between">
  <div style="width: 100px; height: 500px;" class="p-2 col-2 mh-100 bg-info flex-fill">Flex item 1</div>
  <div class="p-2 col-8 flex-fill">

    <div class="container">
      <div class="row">
        <div class="table-responsive table-bordered movie-table">
          <table class="table movie-table">
            <thead>
              <tr class="movie-table-head">
                <th>Developer Name</th>
                <th>Review</th>
                <th>Rental/Sale</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>

              <!--row-->
              <tr class="dark-row">
                <td>Toy Story</td>
                <td>
                  <span style="color:green;">5</span> /5 </td>
                <td>40</td>
                <td>Both</td>
              </tr>
              <!--/.row-->

              <!--row-->
              <tr class="light-row">
                <td>The Shining</td>
                <td>
                  <span style="color:green;">5</span> /5 </td>
                <td>37</td>
                <td>Both</td>
              </tr>
              <!--/.row-->

              <!--row-->
              <tr class="dark-row">
                <td>Rubber</td>
                <td>
                  <span style="color:red;">1</span> /5 </td>
                <td>20</td>
                <td>Rental</td>
              </tr>
              <!--/.row-->

              <!--row-->
              <tr class="light-row">
                <td>The Hangover</td>
                <td>
                  <span style="color:orange;">3</span> /5 </td>
                <td>33</td>
                <td>Sale</td>
              </tr>
              <!--/.row-->
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="p-2 col-2 bg-primary flex-fill">Flex item 3</div>
</div>