<div class="d-flex mt-5 justify-content-between">
  <div style="width: 100px; height: 700px;" class="p-2 col-2 mh-100 bg-secondary flex-fill">

  </div>
  <div class="p-2 col-8 flex-fill">

    <div class="container">
      <div class="">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let question of questions">
          <ngb-panel>
            <ng-template ngbPanelTitle class="row">
              <span class="col">
                <b>{{question.question}}</b>
                <span class="float-right"> Rating &#9733;
                </span>
              </span>
            </ng-template>
            <ng-template ngbPanelContent>
              {{question.answers}}
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
    </div>

  </div>
  <div class="p-2 col-2 bg-secondary flex-fill">
  </div>
</div>