<div class="d-flex mt-5 justify-content-between">
  <div style="width: 100px; height: 700px;" class="p-2 col-2 mh-100 flex-fill">
  </div>
  <div class="container">
    <div class="card" *ngFor="let question of questions">
      <div class="container-fliud">
        <div class="wrapper row">
          <!-- <div class="preview col-md-6">
            </div> -->
          <div class="details col-md-12">
            <h3 class="product-title">q:: {{question.title}}</h3>
            <div class="">
              <div class="rating pull-left">
                <div class="stars">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <br/>
                  <span class="review-no">41 reviews</span>
                </div>
              </div>
              <div class="rating pull-right">
                <div class="stars">
                  <span class="text-danger pull-right">
                    <button class="btn btn-primary fa fa-thumbs-up" disabled></button>
                    <button class="btn btn-danger fa fa-thumbs-down" disabled></button>
                  </span>
                  <br/>

                  <span class="review-no">Votes:
                    <strong>
                      {{question.vote}}
                    </strong>
                  </span>

                </div>
              </div>
            </div>
            <p class="product-description">{{question.question}}</p>
            <!-- <h4 class="price">Answer: </h4> -->
            <!-- <p class="vote"> -->

            <div class="" *ngFor="let ans of question.answers;let i = index">
              <!-- <strong>Ans::{{i+1}}</strong> -->
              <br/>
              <div class="ml-5">{{ans.ans}}
                <span class="pull-right text-light bg-custom-color p-1">{{ans.email}}</span>
              </div>
              <hr/>

            </div>
            <a class="bg-custom-color text-light p-1 mb-2">
              <strong>show 4 more comments</strong>
            </a>
            <!-- </p> -->
            <!-- <h5 class="sizes">sizes:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
            </h5> -->
            <!-- <span class="colors">Vote:
              <span class=" orange not-available" data-toggle="tooltip" title="Not In store"></span>
            </span> -->
            <div class="action">
              <div class="add-to-cart btn btn-default mr-1">Login to add your answer</div>
              <button class="like btn btn-default" type="button" [routerLink]="['/login']">
                <span class="fa fa-sign-in"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2 col-2 flex-fill">
  </div>
</div>